
.icon-home:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-left-open-1:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-up:before { content: '\e805'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */