
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-reply:before { content: '\e802'; } /* '' */
.icon-reply-all:before { content: '\e803'; } /* '' */
.icon-forward:before { content: '\e804'; } /* '' */
.icon-code:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-fast-backward:before { content: '\e80c'; } /* '' */
.icon-cw-circled:before { content: '\e80d'; } /* '' */
.icon-cw:before { content: '\e80e'; } /* '' */
.icon-arrows-cw:before { content: '\e80f'; } /* '' */
.icon-left-circled:before { content: '\e810'; } /* '' */
.icon-up:before { content: '\e811'; } /* '' */
.icon-down:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-left-open-1:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e815'; } /* '' */
.icon-phone-circled:before { content: '\e816'; } /* '' */
.icon-search-1:before { content: '\e817'; } /* '' */
.icon-mail-1:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */