img{
	
	height: auto;
}
body{
	background:#778899;
}

.home{
	max-width: 30px;
}
.sr{
	margin-left:150px; 
}
.brand-title {
	min-height: 2.5rem;
	max-height: 2.5rem;
}
.attachment-sv75{
	border-radius: 240px 240px 200px 200px;
}
