

body{
	background:red;
	font-family: Arial;
	font-size: 1em;
}

.icon-left-big,
.icon-sliders{
	color: #6782a4; 
	font-size: 20px;
}

.br{
	border-radius: 22px;
	background: #6782a4;
	border: #6782a4;
	width: 70px;
	min-width: 4.7rem;
	max-width: 5.1rem;
	font-size: 0.8rem;
}

.icon-plus-circled{
  font-size: 30px;
  color: #6782a4; 
}
.icon-left-big tt{
	margin-left: 5.5rem;
}



.justify-content-between .btn{
	
	border-color:#6782a4;

}
.card-img{
	 height: 8rem;
}
h4{
	font: 22px/24px SuisseCond,Arial Narrow,Helvetica,Arial,sans-serif;
	color: blue;
}
.icon-clock{
	color: green;
}